*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Don't include the config file.
config.yml

# And the .db files in the persistence folder
persistence/*

# And anything in the log folder
logs/*

# And especially not the dumps
tools/nstoolkit/dumps/*
